<div class="list-group">
  <% @items.each do |item| %>
    <div class="list-group-item">
      <%= item.name %>
      <div class="pull-right">
        <%= link_to "", item, method: :delete, class: 'glyphicon glyphicon-ok' %>
      </div>
    </div>
  <% end %>
</div>
