<table class="table table-striped">
  <thead>
    <tr>
      <th>Task description:</th>
      <th>Expires in:</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= item.name %>
        </td>
        <td class="text-muted">
          <%= pluralize(item.days_left, 'day') %> time
        </td>
        <td>
          <%= link_to "", [item.list, item], method: :delete, class: 'glyphicon glyphicon-remove text-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
