<div class="list-group">
  <% @items.each do |item| %>
    <div class="list-group-item">
      <span class="list-group-item-span">  
        <%= item.name %>
      </span>
      <div class="pull-right">
        <%= link_to "", [item.list, item], method: :delete, class: 'glyphicon glyphicon-ok' %>
      </div>
    </div>
  <% end %>
</div>
