/* ============================================== *\
   NAME: application.css.scss
   CREATED AT: 2015-07-01
   AUTHOR: Chris Brett
\* ============================================== */

/**
* ----------------------------------------------
* Framework and imports
* ----------------------------------------------
* When including bootstrap-sass, be sure to include
* bootstrap-sprockets too as this is required for the
* font icons to be loaded.
* https://github.com/twbs/bootstrap-sass#a-ruby-on-rails
*/
@import "bootstrap-sprockets";
@import 'bootstrap';


/**
 * ----------------------------------------------
 * Core navigation styles
 * ----------------------------------------------
 */
.nav-core {
  padding-top: 15px;
  margin-bottom: 15px;
}

.user-info {
  padding-top: 10px;
}


/**
 * ---------------------------------------------
 * List group item extensions
 * ---------------------------------------------
 */
.list-group-item-span {
  max-width: 94%;
  display: inline-block;
}


/**
* ----------------------------------------------
* Utilities (Always at the bottom of stylesheet)
* ----------------------------------------------
*/
.tight-heading {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}
