/* ============================================== *\
   NAME: application.css.scss
   CREATED AT: 2015-07-01
   AUTHOR: Chris Brett
\* ============================================== */

/**
* ----------------------------------------------
* Framework and imports
* ----------------------------------------------
*/
@import 'bootstrap';


/**
 * ----------------------------------------------
 * Core navigation styles
 * ----------------------------------------------
 */
.nav-core {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
