/* ============================================== *\
   NAME: application.css.scss
   CREATED AT: 2015-07-01
   AUTHOR: Chris Brett
\* ============================================== */

/**
* ----------------------------------------------
* Framework and imports
* ----------------------------------------------
* When including bootstrap-sass, be sure to include
* bootstrap-sprockets too as this is required for the
* font icons to be loaded.
* https://github.com/twbs/bootstrap-sass#a-ruby-on-rails
*/
@import "bootstrap-sprockets";
@import 'bootstrap';


/**
 * ----------------------------------------------
 * Core navigation styles
 * ----------------------------------------------
 */
.nav-core {
  padding-top: 15px;
  margin-bottom: 15px;
}

.user-info {
  padding-top: 10px;
}


/**
* ----------------------------------------------
* Utilities (Always at the bottom of stylesheet)
* ----------------------------------------------
*/
